<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS 模板引擎</title>
</head>
<body>
    <!-- EJS语法介绍 -->

    <!-- 1.如果单纯是数据,那么使用的格式为: 见下图 -->
    <%= id %>

    <!-- 2.如果是具体的逻辑代码,那么使用的格式为: 见下图 -->
    <% for(var i = 0; i < 10; i++){ %>

    <% } %>

</body>
</html>